h1 {
    background-color: gainsboro;
    text-align: center;
}
body {
    margin: 50px;
}

.TopBar {
    background-color:gray;
    text-align: center;
    font-weight: 600;
    height: 10rem;
    font-size: 20pt;
    height: 50px;
}
.searchBar {
    margin: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.img-thumbnail {
    width: 150pt;
    height: 150pt;
    transform: translate(0%, 10%);
    margin-left: 10px;
    float: left;
}
.paging-tab {
    display: inline;
    text-align: center;
}

.link-title {
    text-align: center;
    transform: translate(0%, 50%);
}
#pic-alt {
    background-color: gray;
    max-width: 100%;
    height: 220px;
    position: relative;
}
#link-pic-alt {
    background-color: gray;
    width: 45%;
    top: 50%;
}
#pic-alt-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 1000;
}
#list-title {
    background-color: gainsboro;
}
#recipe-link {
    max-width: 90%;
    background-color: rgb(255, 177, 132);
    height: 150px;
    position: relative;
    margin: 10px;
}